.fade-in {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1.5s;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  .card-text-p{
    height: 400px;
    font-size: 0.9rem;
    color: black;
    word-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
  }

  #profile_pic{
    border-radius: 600%;
    width: 560px;
    height: 600px;
  }